.container {
  width: 300px;
  margin: 40px auto;
  padding: 0 10px 20px 10px;

  background-color: #f3f3f3;
  border: 1px solid #d3d3d3;
  border-radius: 7px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
