.buttonList {
  display: flex;
}

.button {
  padding: 5px 20px;
  margin-right: 10px;
  text-transform: capitalize;

  background-color: #e3e3e3;
  border: 1px solid #808080;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: #d3d3d3;
}

.button:active {
  scale: 0.98;
}
